repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id:  no-commit-to-branch
    args: ['--branch', 'master']
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
  - id: trailing-whitespace

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
    - id: ruff
      args: [ --extend-select, I, --fix ]
    - id: ruff-format

exclude: "tests/data/testensemble-reek001"
