astroid
bumpversion>=0.5.3
coverage>=4.1
flake8>=2.6.0
pandas>0.23.0
pip>=18.0.0
pyarrow
pylint
pytest-runner>=2.11.1
pytest>=2.9.2
pyyaml>=5.1
setuptools
setuptools_scm
six>=1.12.0
sphinx>=1.4.8
sphinx_rtd_theme>=0.4.1
tox>=2.3.1
versioneer==0.18
wheel>=0.29.0
