name: codecoverage
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: "3.11"

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install fmu-ensemble and test dependencies
        run: |
          pip install pip -U
          pip install .[tests]

      - name: Generate coverage report
        run: |
          pytest tests --disable-warnings --cov=fmu --cov-report=xml

      - name: Upload coverage to Codecov
        run: |
          bash <(curl -s https://codecov.io/bash)
